.footer {
    margin-top: 50px;
    height: 70px;
  }
  
  .footer-copyright, .footer-right {
    height: 30px;
  }
  
  .footer-copyright p {
    font-weight: normal !important;
    color: #959499;
    font-size: 16px;
  }
  
  .footer-copyright a, .footer-right a {
    color: #716aca;
    text-decoration: none;
  }
  
  .footer-copyright a:hover, .footer-right a:hover {
    color: #9c97da;
  }
  
  .footer-right span {
    color: #716aca;
    font-size: 16px;
  }
  
  @media only screen and (max-width: 992px) {
    .footer-copyright, .footer-right {
      text-align: center !important;
    }
  }